name: Deploy on Linux

on:
  workflow_dispatch:

# In case it cannot be installed into /valve/*
# env:
# STEAM_RUNTIME_PATH: './steam-runtime'

jobs:
  build:

    runs-on: ubuntu-18.04 

    steps:
    - uses: actions/checkout@v2
    
    - name: C/C++ dev tools
      run: sudo apt-get install gcc-multilib g++-multilib
      
    - name: Create Valve Folder
      working-directory: /
      run: sudo mkdir valve
      
    - name: Install Steam Runtime
      working-directory: /valve
      run: sudo wget https://media.steampowered.com/client/runtime/steam-runtime-sdk_latest.tar.xz
    
    - name: Extract Steam Runtime
      working-directory: /valve
      run: sudo tar xvf steam-runtime-sdk_latest.tar.xz
      
    - name: Move Steam Runtime
      working-directory: /valve
      run: sudo mv steam-runtime-sdk_2013-09-05 steam-runtime
    
    - name: Update Steam Runtime
      working-directory: /valve/steam-runtime
      run: sudo ./setup.sh --auto-update --target=i386 --release    
    
    - name: Create makefile
      run: sudo ./creategameprojects
      
    - name: make
      run: sudo make -f brainbread.mak | sudo /valve/steam-runtime/shell-i386.sh

    - name: Upload Binaries
      uses: actions/upload-artifact@v2
      with:
        name: Linux Binaries
        path: game/build/*.so
