name: Deploy on Linux

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    
    - name: C/C++ dev tools
      run: |
        sudo apt update
        sudo apt-get install build-essential gcc-multilib g++-multilib
      
    - name: Setup Steam Runtime
      run: |
        wget https://media.steampowered.com/client/runtime/steam-runtime-sdk_latest.tar.xz
        tar xvf steam-runtime-sdk_latest.tar.xz
        mv steam-runtime-sdk_2013-09-05 runtime
        cd runtime
        ./setup.sh --auto-update --target=i386 --release
    
    - name: Create makefile
      run: ./creategameprojects

    - name: Build
      run: |
        cd runtime
        ./shell-i386.sh
        cd ../
        make -f brainbread.mak

    - name: Upload Binaries
      uses: actions/upload-artifact@v2
      with:
        name: Linux Binaries
        path: game/build/*.so
