name: Deploy on Linux

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: C/C++ dev tools
      run: |
        sudo apt update
        sudo apt-get install build-essential gcc-multilib g++-multilib
      
    - name: Create Valve Folder
      run: sudo mkdir /valve
      
    - name: Install Steam Runtime
      run: sudo wget https://media.steampowered.com/client/runtime/steam-runtime-sdk_latest.tar.xz -P /valve
    
    - name: Extract Steam Runtime
      run: sudo tar xvf /valve/steam-runtime-sdk_latest.tar.xz -C /valve
      
    - name: Move Steam Runtime
      run: sudo mv /valve/steam-runtime-sdk_2013-09-05 /valve/steam-runtime
    
    - name: Update Steam Runtime
      run: sudo /valve/steam-runtime/setup.sh --auto-update --target=i386 --release
    
    - name: Create makefile
      run: sudo ./creategameprojects
      
    - name: Show Files
      run: |
        ls -la
        cd /valve
        ls -la
        cd /valve/steam-runtime
        ls -la
        cd ~
        ls -la
      
    - name: make
      run: sudo /valve/steam-runtime/shell-i386.sh && sudo make -f brainbread.mak

    - name: Upload Binaries
      uses: actions/upload-artifact@v2
      with:
        name: Linux Binaries
        path: game/build/*.so
